@import "../../styles/index.scss";

.menu-opener {
  z-index: 1;
  position: absolute;
  color: $details_green;
  font-size: 30px;
  top: 15px;
  left: 18px;

  @include tablet {
    font-size: 40px;
  }
  @include desktop {
    display: none;
  }
}
