@import "../../styles/index.scss";

.training-menu {
  position: fixed;
  background-color: white;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  .menu__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
  }
  .training-menu__buttons {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    .favorites {
      margin: 20px auto;
    }
    .training-end,
    .favorites {
      width: 90%;
      padding-bottom: 5px;
    }
    .training-end {
      margin: 0 auto;
    }
    .routes-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .routes {
        div {
          font-size: 18px;
          display: inline-block;
          margin-left: 5px;
          color: $background;
        }
      }
      .routes-boulders,
      .routes-inside {
        font-size: 14px;
        margin-top: 5px;
        padding: 5px;
        width: "50%";
      }
      .routes-inside {
        margin-top: 10px;
      }
    }
  }
  .account-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    button {
      width: 80%;
      margin: 20px auto;
      background-color: $details_green;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
